.calculator {
    background-color: black;
    box-shadow: 0 0 10px 0 #ff9501;
    padding: 2rem;
}

.row {
    display: flex;
}

.func-key,
.num-key,
.op-key {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9501;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin: 0.4rem;
    cursor: pointer;
    font-weight: 600;
}

.func-key {
    background-color: #a6a6a6;
    color: black;
}

.num-key {
    background-color: #333333;
}

.op-key {
    background-color: #ff9501;
}

.func-key:hover {
    background: rgb(166, 166, 166, 0.8);
}

.num-key:hover {
    background: rgb(51, 51, 51, 0.8);
}

.op-key:hover {
    background: rgb(255, 149, 1, 0.8);
}

.click-effect {
    animation: ripple 0.1s;
}

@keyframes ripple {
    to {
        transform: scale(0.95);
    }
}

#zero {
    width: 9.2rem;
    border-radius: 0 50px 50px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.display-cover {
    width: 19.2rem;
    height: 3rem;
    margin: 0 0.4rem 1.5rem 0.4rem;
    text-align: right;
    font-size: 3rem;

    white-space: nowrap;
    /*I don't think this is required*/
    padding-bottom: 0.5rem;
    overflow-y: hidden;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
}

.display {
    height: 3rem;
    display: inline-block;
    scroll-snap-align: end;
}

.output {
    width: 19.2rem;
    height: 2rem;
    margin: 0 0.4rem 1.5rem 0.4rem;
    text-align: right;
    font-size: 2rem;

    padding-bottom: 0.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
}

i {
    font-size: 1.3rem;
}

.display-cover,
.output {
    scrollbar-color: #333333 black;
    scrollbar-width: thin;
}

.display-cover::-webkit-scrollbar,
.output::-webkit-scrollbar {
    width: 19.2rem;
    height: 0.2rem;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #333333;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
    cursor: pointer;
    /* Not Working */
}