<div class="calculator">
    <div class="display-cover">
        <div class="display"></div>
    </div>
    <div class="output"></div>
    <div class="row">
        <div class="clear func-key">AC</div>
        <div class="plus-minus func-key">+/-</div>
        <div class="operators func-key">DEL</div>
        <div class="erase op-key">÷</div>
    </div>
    <div class="row">
        <div class="numbers num-key">7</div>
        <div class="numbers num-key">8</div>
        <div class="numbers num-key">9</div>
        <div class="operators op-key">x</div>
    </div>
    <div class="row">
        <div class="numbers num-key">4</div>
        <div class="numbers num-key">5</div>
        <div class="numbers num-key">6</div>
        <div class="operators op-key">-</div>
    </div>
    <div class="row">
        <div class="numbers num-key">1</div>
        <div class="numbers num-key">2</div>
        <div class="numbers num-key">3</div>
        <div class="operators op-key">+</div>
    </div>
    <div class="row">
        <div class="numbers num-key" id="zero">0</div>
        <div class="dot num-key">.</div>
        <div class="equalto op-key">=</div>
    </div>
</div>