/* You can add global styles to this file, and also import other style files */
* {
    border: 0;
    margin: 0;
    user-select: none;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #a6a6a6, #333333);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 1.5rem;
    color: #f8f8f8;
}